body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #a3a3a3fd;
    display: flex;
    padding: 10px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: rgb(248, 247, 247);
    font-weight: bold;
    padding-top: 12px;
    margin-left: 5%;
    font-size: 20px;
}

nav img{
    width: 30px;
    margin-left: 1%;

}

#Főcím{
    position: relative;
    text-align: center;
    margin-bottom: 0;
}

#Főcím p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#Főcím strong{
    font-size: 8vw;
    -webkit-text-stroke: 3px white;
}

#Főcím i{
    font-size: 170%;
    color: white;
}

#Főcím img{
    width: 100%;
    height: 1000px;
}

#content{
    background-color: #5B2323;
    box-shadow: 0px 10px 100px black inset;
    margin-top: 0;
}

.Cím{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 60%;
    height: 100px;
    text-align: center; 
    font-size: 400%;
    letter-spacing: 10px;
    box-shadow: 10px 10px #451B1B;
    margin-bottom: 20px;
    padding-top: 20px;
}

.Szöveg{
    background-color: #D9CAB3;
    width: 60%;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 200%;
    padding: 10px;
}

#Alcím{
    letter-spacing: 15px;
    font-size: 300%;
    text-align: center;
}

#Képek img{
    width: 25%;
    box-shadow: 10px 10px 10px #451B1B;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

#Képek{
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-inline: 10%;
}

#Alcím{
    color: white;
    margin-bottom: 30px;
}

footer{
    background-color: black;
}

#Történet{
    padding-top: 40px;
    margin-left: 3%;
    position: relative;
}

#Történet img{
    position: absolute;
    left: 60%;
    top: 40%;
    width: 360px;
    border: 5px solid black;
    border-radius: 10px;
}

#Elzárás{
    margin-left: 6%;
    margin-top: 40px;
    position: relative;
}

#Elzárás .Szöveg{
    height: 200px;
}

#Elzárás img{
    position: absolute;
    left: 60%;
    top: 40%;
    width: 360px;
    border: 5px solid black;
    border-radius: 10px;
}

#Veszély{
    margin-left: 9%;
    margin-top: 40px;
    padding-bottom: 80px;
    position: relative;
}

#Veszély img{
    position: absolute;
    left: 70%;
    top: 15%;
    width: 360px;
    border: 5px solid black;
    border-radius: 10px;
}
@media screen and (max-width:1px){

}


@media screen and (max-width:1027px){
    #content img{
        width:30% ;
        height: 250px;
        object-fit: cover;
        left: 63%;
    }
    .Cím{
        font-size: 250%;
    }
    .Szöveg{
        font-size: 150%;
    }
}

@media screen and (max-width:750px){
    #content img{
        height: 150px;
    }
    nav a{
        font-size: 15px;
    }
    .Cím{
        font-size: 150%;
        padding-top: 30px;
        height: 70px;
    }
    .Szöveg{
        font-size: 80%;
    }
    #Elzárás .Szöveg{
        height: 100px;
    }
    #Alcím{
        font-size: 170%;
        padding-top: 10px;
    }
    #Veszély img{
        top: 35%;
        left: 65%;
    }
    #Főcím img{
        height: 500px;
    }
    }

@media screen and (max-width:550px){
    #Veszély .Cím{
        width: 80%;
    }
    #Főcím strong{
        -webkit-text-stroke: 1.5px white;
    }
    #Alcím{
        font-size: 150%;
    }
}

@media screen and (max-width:452px){
    .Cím{
        font-size: 100%;
        height: 40px;
        padding-top: 12px;
    }
    #Alcím{
        font-size: 110%;
        letter-spacing: 7px;
    }
    #content img{
        height: 120px;
    }
    #Veszély .Cím{
        width: 90%;
    }
    #Veszély img{
        left: 67%;
        top: 27%;
    }
    nav a{
        font-size: 10px;
    }
    #Alcím{
        padding-top: 10px;
    }
    #Képek img{
        margin-top: 0px;
        border-radius: 5px;
    }
    #Főcím img{
        height: 300px;
    }
}