body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #5B2323;
}

nav {
    background-color: #a3a3a3fd;
    display: flex;
    padding: 10px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: rgb(248, 247, 247);
    font-weight: bold;
    justify-content: center;
    padding-top: 12px;
    margin-left: 6%;
}

nav img{
    width: 30px;
    margin-left: 1%;

}

.header{
    display: flex;
}

.header img{
    height: 10%;
    width: auto;
    padding-top: 30px;
    border-radius: 20px;
    margin-left: 5%;
}

.kecel{
    color: #FFFFFF;
    margin-left: 80%;
}

.szoveg{
    background-color: #D9CAB3;
    padding: 1px 25px;
    margin: 20px;
    font-size: 3.5vw;
    border-radius: 20px;
}

@media screen and (max-width:1080px){
    .header img{
        width: 100%;
    }
}

@media screen and (max-width:800px){
    .header img{
        width: 70%;
    }
}