body {
    background-color: #5b2323;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}  

header {
    background-color: #5b2323;
}

nav {
    background-color: #a3a3a3fd;
    display: flex;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(248, 247, 247);
    font-weight: bold;
    padding-top: 12px;
    margin-left: 5%;
}

nav img {
    width: 30px;
    margin-left: 1%;
}

.header {
    display: flex;
}

.header img {
    height: 40%;
    width: auto;
    border-radius: 20px;
    margin-left: 5%;
    margin: 30px 26px;
}

.header .logo {
    padding-top: 10px;
    margin: 30px 30px;
}

.kecel {
    color: #FFFFFF;
    margin-left: 76%;
    height: 100%;
    font-size: 1.7vw;
}

.szoveg {
    background-color: #D9CAB3;
    padding: 1px 25px;
    margin: 20px;
    font-size: 3.5vw;
    border-radius: 20px;
}

@media screen and (max-width: 1080px) {
    .header img {
        width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .header .logo {
        max-width: 21%;
        height: 50%;
    }
}