body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5B2323;
    color: #333;
}

nav {
    background-color: #a3a3a3fd;
    display: flex;
    padding: 10px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: rgb(248, 247, 247);
    font-weight: bold;
    padding-top: 12px;
    margin-left: 5%;
}

nav img{
    width: 30px;
    margin-left: 1%;

}

header{
    background-color: black;
    text-align: center;
    margin-top: 50px;
    height: 80px;
    padding-top: 12px;
    font-size: xx-large;
    border: 3px solid white;
}

u{
    color:white;
}

#elérhetőség{
    color: white;
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
}

#térkép{
    background-color: #D9CAB3;
    height: 450px;
    border: 5px solid black;
    border-radius: 20px;
    width: 100%;
}

#map{
    font-size: x-large;
    margin-top: 20px;
}

#veszély{
    background-color:#D9D9D9;
    border: 5px solid black;
    border-radius: 20px;
}

#container{
    display: inline-flex;
    width: 80%  ;
    margin-left: 10%;
    margin-top: 20px;
}

#divider{
    display: block;
}

#filler{
    height: 47%;
}

#kép{
    width: 100%;
}

@media screen and (min-width:1100px) {
    #térkép{
        width: 80%;
    }
}

@media screen and (max-width:932px) {
    #filler{
        height: 48%;
    }
}

@media screen and (max-width:918px) {
    #filler{
        height: 42%;
    }
}

@media screen and (max-width:676px) {
    #filler{
        height: 37%;
    }
}

@media screen and (max-width:662px) {
    #filler{
        height: 32%;
    }
}

@media screen and (max-width:640px) {
    #filler{
        height: 26%;
    }
}

@media screen and (max-width:545px) {
    #filler{
        height: 26%;
    }
}

@media screen and (max-width:533px) {
    #filler{
        height: 21%;
    }
}

@media screen and (max-width:528px) {
    #filler{
        height: 20%;
    }
}

@media screen and (max-width:516px) {
    #filler{
        height: 16%;
    }
}

@media screen and (max-width:454px) {
    #filler{
        height: 10.5%;
    }
}

@media screen and (max-width:431px) {
    #filler{
        display: none;
    }
}